<header class=" py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-danger mb-2">Gorilla Fitness Exercise</h1>
          <p class="lead fw-normal text-danger-50 mb-4">Sweat, Smile And Repeat</p>
          <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
            <p class="text-danger"> check out the most effective exercises personalized to you <br/> login or signup to keep track of your exercise activities</p>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <%= image_tag("HeroBanner1.jpg", class:"img-fluid rounded-3 my-5" ) %>
      </div>
    </div>
  </div>
</header>

<main>
  <section class="py-5 text-center container mb-3">
  <div id="exercise-form">
    <%= form_tag(exercises_path, method: :get, id: 'filter-form') do %>
      <%= select_tag(:bodyPart, options_for_select(@body_part_list.each { |bp| [bp['name'], bp['id']] }, params[:bodyPart]), prompt: 'All', class: "form-select") %>
      <%= submit_tag('Filter By BodyPart', class:"btn btn-outline-danger mt-3", id:"filter-button") %>
    <% end %>
    
    </div>
    <h2 id="timer-display" class="text-danger mt-3"> 00:00</h2>
    <button id="start-button" class="btn btn-outline-success">Start</button>
    <button id="stop-button" class="btn btn-outline-info">Pause</button>
    <button id="reset-button" class="btn btn-outline-danger">Reset</button>
    <%= javascript_pack_tag 'timer' %>
  </section>

  <section class="py-5 container mb-3">
    <div class="row">
      <div class="col">
        <input type="number" id ="weight-val" class="form-control" placeholder="Weight(kg)" required >
      </div>
      <div class="col">
        <input type="number" id ="time-val" class="form-control" placeholder="Time(mins)" required>
      </div>
      <div class="col">
        <input type="number" id ="met-val" class="form-control" placeholder="MET" required>
      </div>
      <div class="col">
        <button id="calculate-btn" class="btn btn-outline-warning">Calculate</button>
      </div>
      <%= javascript_pack_tag 'calories' %>
    </div>
    <div class="mt-2">
      <a target="_blank" href="https://www.omicsonline.org/articles-images/2157-7595-6-220-t003.html">
        KNOW YOUR MET VALUE
      </a>
      <p>  Calories burnt: <span id="calories-burnt-res"></span></p>
    </div>
  </section>

  <section class="album py-5 bg-lightred" >
    <div class="container">
      <p class="mb-1"><%= render 'shared/pagination', items: @items %></p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="exercise-list">
      <%= render 'exercise_list' %>
      </div>
    </div>
    <%= javascript_pack_tag 'form' %>
  </section>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1"><%= render 'shared/pagination', items: @items %></p>
  </div>
</footer>

